@model DashboardViewModel
@{
    int count = 0;
}
<div class="container-fluid pt-4 px-4">
    <div class="col-12">
        <div class="bg-light rounded h-100 p-4">
            <h6 style="margin-bottom: 1.5rem !important;" class="mb-4 border-bottom">Message List</h6>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fullname</th>
                        <th scope="col">Phone number</th>
                        <th scope="col">Email</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Reply</th>
                    </tr>
                </thead>
                <tbody style="vertical-align: middle;">
                    @foreach (var item in Model.ContactMessagesPaginated)
                    {
                        count++;
                        <tr>
                            <th scope="row">@count</th>
                            <td>@item.FullName</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.Email</td>
                            <td>@item.Subject</td>
                            <td>
                                <a href="@item.Email" class="btn btn-sm btn-sm-square btn-outline-success m-2" > <i class="fa fa-reply"></i> </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center my-3">
    <form>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @if (Model.ContactMessagesPaginated.HasPrevious)
                {
                    <li class="page-item">
                        <a class="page-link" asp-route-page="@(Model.ContactMessagesPaginated.ActivePage-1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }
                @for (int i = 1; i <= Model.ContactMessagesPaginated.TotalPageCount; i++)
                {
                    <li class="page-item @((Model.ContactMessagesPaginated.ActivePage==i)? "active" : "")"><a class="page-link  " asp-route-page="@i">@i</a></li>
                }
                @if (Model.ContactMessagesPaginated.HasNext)
                {
                    <li class="page-item">
                        <a class="page-link" asp-route-page="@(Model.ContactMessagesPaginated.ActivePage+1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </form>
</div>